<button class="btn btn-success btn-lg " (click)="finalizarCompra()" id="fimCompra"> Finalizar Compra </button>
<div class="container-fluid">
  <select class="form-control" [(ngModel)]="categoriaSelected" (change)="onCategoriaChange()" id="select" >
      <option value="-1">Filtrar produtos</option>
      <option *ngFor="let c of categorias" [value]="c.idCategoria">{{c.nome}}</option>
  </select>

  <div class='row'>

      <div class='col-3' *ngFor="let dados of produtos" style="width: 18rem;margin-top: 10px;margin-left: 15px;max-inline-size: 18rem;">

          <div class="card">
              <img class="card-img-top" src="https://findicons.com/files/icons/456/activity_monitor/512/matrix.png"
                  alt="fundo">
              <div class="card-body">
                  <h5 class="success-card-title">{{ dados.nome }}</h5>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">ID: {{ dados.idProduto }}</li>
                  </ul>
                  <p class="card-text">Descrição: {{ dados.descricao }}</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <p *ngFor="let c of dados.categorias">
                          {{ c.nome }}
                  </li>
              </ul>

              <div class="card-body">
                  <p>R$ {{ dados.preco }}</p>
                  <input type="number" class="form-control input" (change)="onQuantidadeChange(dados, $event)" placeholder="Quantidade"  >
                  <a href="#" class="btn btn-success">Comprar </a>&nbsp;

              </div>
          </div>


      </div>

  </div>
</div>