<div class="container-fluid" >
    <div class='row'>
  
      <div class='col-3'   style="width: 18rem;margin-top: 10px;margin-left: 15px;">
  
        <div class="card">
          <img class="card-img-top" src="https://i.pinimg.com/474x/96/90/b4/9690b4c1eba5b490278bc47c99c37518.jpg" alt="fundo">
          <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <ul class="list-group list-group-flush">
            <p class="card-text">Quantidade:</p>
          </ul>
            <p class="card-text">Preço total: </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            </li>
          </ul>
          
          <div class="card-body">
             <p></p>
  
            <a href="#" class="btn btn-danger">Finalizar </a>&nbsp;
          
          </div>
        </div>
        
     
   </div>
  
  </div>
  </div>