/* You can add global styles to this file, and also import other style files */
.container{
    opacity: 1.0;
    }
.navbar {
    color: #009966;
}
.bg{
   background-image: url(https://cdn.wallpapersafari.com/84/22/Jz6bAs.gif);
}